
body {
  background-color: #1a1a2e;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 48px;
  color: #00e5ff;
}

p {
  font-size: 20px;
  color: #aaaaaa;
}
button {
  background-color: #00e5ff;
  color: #1a1a2e;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 2s;
}

button:hover {
  background-color: #ff0000;;
}
button {
  display: block;
  margin: 20px auto;
}